.App {
  text-align: center;
}
.Home {
  min-height: 100vh;
  background-image: url('/public/images/erik-mclean-hbsL-YB2BkQ-unsplash.jpg');
  background-size: cover;
  color: white;
}

.Info {
  min-height: 100vh;
  background-image: url('/public/images/erik-mclean-fDAv7lWawtk-unsplash.jpg');
  /* opacity: 0.5; */
  background-size: cover;
}

.Data {
  min-height: 100vh;
  background-image: url('/public/images/mick-haupt-KtTF68ZjBak-unsplash.jpg');
  background-size: cover;
}

.Add {
  min-height: 100vh;
  background-image: url('/public/images/giorgio-trovato-W7KDN4OB_zI-unsplash.jpg');
  background-size: cover;
}

.Card{
  min-height: 100vh;
  background-color: aquamarine;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
